<div *ngFor="let sche of data">
    {{sche.schedulesTitle}}
</div>
<!-- START:Header Section -->
<header class="header-pane">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="logo"></div>
            </div>
            <div class="col-6 text-right logged-user">
                <img src="assets/images/inbox-user.png" /> Dr. John Scaria
            </div>
        </div>
    </div>
</header>
<!-- END:Header Section -->
<!-- START:Main Content Section -->
<section class="main-content-pane">
    <div class="quick-menu-bar">
        <div class="qm-box deep-blue saint-dropdown">
            <i class="fas fa-stethoscope"></i>
            <span>Clinical</span>
            <div class="saint-dropdown-content">
                <div>Epic In Basket</div>
                <div>Epic Schedule</div>
                <div>Chat with Epic Expert</div>
                <div>UpToDate - Medical Reference</div>
                <div>PubMed - Medical Reference</div>
                <div>Lexicomp - Clinical Drug Reference</div>
                <div>Epic Matters</div>
                <div>InTouch - Telemedicine</div>
            </div>
        </div>
        <div class="qm-box orange saint-dropdown">
            <i class="fas fa-clipboard-list"></i>
            <span>Communication</span>
            <div class="saint-dropdown-content">
                <div>Outlook Inbox</div>
                <div>Outlook Calendar</div>
                <div>Physician Paging System</div>
                <div>Instant Messaging</div>
            </div>
        </div>
        <div class="qm-box light-blue saint-dropdown">
            <i class="far fa-comments"></i>
            <span>Essentials</span>
            <div class="saint-dropdown-content">
                <div>HealthStream</div>
                <div>Med-IQ</div>
                <div>Credentialing/Licensing</div>
                <div>Policies & Procedures</div>
                <div>Malpractice Insurance</div>
                <div>Flu Shots</div>
            </div>
        </div>
        <div class="qm-box deep-blue saint-dropdown">
            <i class="fas fa-users-cog"></i>
            <span>SLPG</span>
            <div class="saint-dropdown-content">
                <div>ePulse</div>
                <div>Provider Requirements</div>
                <div>Newsletters</div>
                <div>Standing Orders & Medical Protocols</div>
                <div>Physician Directory</div>
                <div>Find a Doctor</div>
                <div>Find a Location</div>
                <div>SLPG Provider Help</div>
            </div>
        </div>
        <div class="qm-box orange saint-dropdown">
            <i class="fas fa-female"></i>
            <span>HR</span>
            <div class="saint-dropdown-content">
                <div>Workday</div>
                <div>Conflict of Interest</div>
                <div>Open Enrollment</div>
                <div>My Health Toolkit</div>
            </div>
        </div>
        <div class="qm-box light-blue saint-dropdown">
            <i class="fas fa-hammer"></i>
            <span>Professional</span>
            <div class="saint-dropdown-content">
                <div>CME Credits</div>
            </div>
        </div>
        <div class="qm-box deep-blue saint-dropdown">
            <i class="far fa-question-circle"></i>
            <span>Personal</span>
            <div class="saint-dropdown-content">
                <div>inspirational quotes</div>
                <div>Fun Facts</div>
            </div>
        </div>
        <div class="qm-box deep-blue saint-dropdown">
            <i class="far fa-question-circle"></i>
            <span>Productivity</span>
            <div class="saint-dropdown-content">
                <div>Outlook</div>
                <div>Word</div>
                <div>Excel</div>
                <div>Powerpoint</div>
                <div>Citrix</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- START:Left Menu -->
            <div class="col-md-2 left-menu-pane">
                <div class="left-menu">
                    <div class="menu-item">
                        <div class="menu-icon">
                            <img src="assets/images/menu1.png" />
                        </div>
                        <div class="red-badge">12</div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-icon">
                            <img src="assets/images/menu2.png" />
                        </div>
                        <div class="red-badge">12</div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-icon">
                            <img src="assets/images/menu3.png" />
                        </div>
                        <div class="red-badge">12</div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-icon">
                            <img src="assets/images/menu4.png" />
                        </div>
                        <div class="red-badge">12</div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-icon">
                            <img src="assets/images/menu5.png" />
                        </div>
                        <div class="red-badge">12</div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-icon">
                            <img src="assets/images/menu6.png" />
                        </div>
                        <div class="red-badge">12</div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-icon">
                            <img src="assets/images/menu7.png" />
                        </div>
                        <div class="red-badge">12</div>
                    </div>
                </div>
            </div>
            <!-- END:Left Menu -->
            <!-- START:Column 1 -->
            <div class="col-md-3">
                <div class="card">
                    <h2>Epic InBasket
                        <span class="red-badge">17</span>
                    </h2>
                    <div class="basket-listing">Documents to Sign
                        <span class="blue-badge">5</span>
                    </div>
                    <div class="basket-listing">Results to Review
                        <span class="blue-badge">5</span>
                    </div>
                    <div class="basket-listing">Medication Refills
                        <span class="blue-badge">5</span>
                    </div>
                    <div class="basket-listing">Category
                        <span class="blue-badge">5</span>
                    </div>
                    <div class="basket-listing">Results to Review
                        <span class="blue-badge">5</span>
                    </div>
                </div>
                <div class="card">
                    <h2>Outlook 365 Inbox
                        <span class="red-badge">17</span>
                    </h2>
                    <div class="inbox-item">
                        <div class="inbox-thumb">
                            <img src="assets/images/inbox-user.png" />
                        </div>
                        <div>
                            <div class="inbox-name">Jerin
                                <div class="inbox-time">10.30 am</div>
                            </div>
                            <div class="inbox-message">Hi John, It was a please meeting with you. Great to see you
                                a long while.</div>
                        </div>
                    </div>
                    <div class="inbox-item">
                        <div class="inbox-thumb">
                            <img src="assets/images/inbox-user.png" />
                        </div>
                        <div>
                            <div class="inbox-name">Jerin
                                <div class="inbox-time">10.30 am</div>
                            </div>
                            <div class="inbox-message">Hi John, It was a please meeting with you. Great to see you
                                a long while.</div>
                        </div>
                    </div>
                    <div class="inbox-item deactivated">
                        <div class="inbox-thumb">
                            <img src="assets/images/inbox-user.png" />
                        </div>
                        <div>
                            <div class="inbox-name">Jerin
                                <div class="inbox-time">10.30 am</div>
                            </div>
                            <div class="inbox-message">Hi John, It was a please meeting with you. Great to see you
                                a long while.</div>
                        </div>
                    </div>
                    <div class="inbox-item deactivated">
                        <div class="inbox-thumb">
                            <img src="assets/images/inbox-user.png" />
                        </div>
                        <div>
                            <div class="inbox-name">Jerin
                                <div class="inbox-time">10.30 am</div>
                            </div>
                            <div class="inbox-message">Hi John, It was a please meeting with you. Great to see you
                                a long while.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END:Column 1 -->
            <!-- START:Column 2 -->
            <div class="col-md-4">
                <div class="card schedule-pane">
                    <h2>Schedules
                        <span class="red-badge">17</span>
                    </h2>
                    <div class="schedule-box active">
                        <div class="timer">9:00<br />am</div>
                        <h3>Epic Schedule</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="schedule-box">
                        <div class="timer">9:00<br />am</div>
                        <h3>Epic Schedule</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="schedule-box">
                        <div class="timer">9:00<br />am</div>
                        <h3>Epic Schedule</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="schedule-box">
                        <div class="timer">9:00<br />am</div>
                        <h3>Epic Schedule</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="schedule-box">
                        <div class="timer">9:00<br />am</div>
                        <h3>Epic Schedule</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <!-- END:Column 2 -->
            <!-- START:Column 3 -->
            <div class="col-md-3">
                <div class="card">
                    <h2>Announcements
                        <span class="red-badge">17</span>
                    </h2>
                    <div class="Announcements">
                        <strong>Epic Schedule</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="card">
                    <h2>News Feed
                        <span class="red-badge">17</span>
                    </h2>
                    <div class="Announcements">
                        <strong>Epic Schedule</strong>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="card">
                    <h2>Quote of the Day
                        <span class="red-badge">17</span>
                    </h2>
                    <div class="Announcements">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <!-- END:Column 3 -->
        </div>
    </div>
</section>